body, .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

  }

.profilePic { 
    width: 174.9px;
    height: 207px;
    border-radius: 10px

}

.content {
  display: flex;
  position: absolute;
  flex-direction: column;
  padding: 15vh 20% 15vh 20%;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.tabs a {
  font-family: Libre Franklin;
}

.profile { 
  display: flex;
  align-items: center;
  flex-direction: row;
}

.profile .text-container {
  display: flex;
  flex-direction: column; 
  text-align: right;
  margin-left: auto; 
}

.profile img { 
  margin-right: auto; 
}