
html, body, .site-wrapper {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: fixed;
}

body, .content-wrapper {
  margin: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }

.profilePic { 
  width : 260.333px;
  height: 313.333px;
  border-radius: 10px;
  flex-shrink: 0
}

.content {
  width: 70vh;
  display: flex;
  position: absolute;
  flex-direction: column;
  padding: 15vh 20% 15vh 20%;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tabs a {
  font-family: Libre Franklin;
  font-size: 24px;
  text-decoration: inherit;
  color: black;
}

.profile { 
  display: flex;
  align-items: center;
  flex-direction: row;
}

.profile .text-container h1 { 
  font-family: Libre Franklin;
  font-size: 80px;
  color: black
}

p { 
  font-family: Libre Franklin;
  font-size: 18px;
  color: black;
}