body, .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

.profilePic { 
    width: 174.9px;
    height: 207px;
    border-radius: 10px

}