@media (max-width: 1700px) {
    .tabs a {
        font-size: 20px;
    }
}

@media (max-width: 1500px) {
    * {
        font-size: 14px;
    }

    .content {
        width: 70%;
    }

    .tabs {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 50px;
        width: fit-content;
    }   

    .tabs a {
        margin-bottom: 10px;
        font-size: 18px;
    }

    .profilePic { 
        width : 146.4373125px;
        height: 176.2498125px;
      }


    .profile {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

    .profile h1 { 
        text-align: left;
        flex-grow: 1;
        font-family: Libre Franklin;
        font-size: 50px;
        color: black
      }
      
    
    p {
        text-align: left;
        font-style: normal;
        width: 100%;
    }

}